* {
    box-sizing: border-box;
}

.main-canvas {
    width: 800px;
    border: 1px solid #e0e0e0;
    margin: 0 auto;
    display: flex;
    flex-grow: 1;
}

.main-canvas .left-block {
    width: 160px;
    border-right: 1px solid #e0e0e0;
}

.main-canvas .colors {
    background-color: #ece8e8;
    text-align: center;
    padding-bottom: 5px;
    padding-top: 10px;
}

.main-canvas .brushes {
    padding-top: 5px
}

.main-canvas .brushes #strokeLength{
    width: 60%;
    padding: 10px;
}

.main-canvas .buttons {
    height: 80px;
    padding-top: 10px;
}

.main-canvas .buttons button {
    display: block;
    width: 100%;
    border: 0;
    border-radius: 0;
    background-color: #ece8e8;
    margin-bottom: 5px;
    padding: 5px;
    height: 30px;
    outline: none;
    position: relative;
    cursor: pointer;
    font-size: 16px;
}

.main-canvas .right-block {
    width: 640px;
}

.main-canvas #paint-canvas {
    cursor: crosshair;
}